    {% if page.url == "/" or page.url == "/index.html" %}
      <link rel="stylesheet" href="/resources/css/page/index.css">
    {% elsif page.url == "/ai" or page.url == "/ai.html" %}
      <link rel="stylesheet" href="/resources/css/page/ai.css">
    {% elsif page.url == "/about" or page.url == "/about.html" %}
      <link rel="stylesheet" href="/resources/css/page/about.css">
    {% elsif page.url == "/products" or page.url == "/products.html" %}
      <link rel="stylesheet" href="/resources/css/page/products.css">
    {% endif %}